.list-card{
  a{
    text-decoration: none;
  }
  background-color: #242424;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid rgba($color: #686868, $alpha: 0.9);
  text-align: center;
  color: white;
  &:hover{
    background-color: white;
    color:  #242424;
  }

}
